@font-face {
  font-family: "Cartograph Mono";
  src: url(../assets/font/CartographMono/CartographMonoCF-Bold.ttf);
}

@font-face {
  font-family: "Cartograph Sans";
  src: url(../assets/font/CartographSans/CartographSansCF-Bold.ttf);
}

@font-face {
  font-family: "Cartograph Sans Heavy";
  src: url(../assets/font/CartographSans/CartographSansCF-Heavy.ttf);
}

@font-face {
  font-family: "Cartograph Sans Medium";
  src: url(../assets/font/CartographSans/CartographSansCF-Medium.ttf);
}

@font-face {
  font-family: "Cartograph Sans Thin";
  src: url(../assets/font/CartographSans/CartographSansCF-Thin.ttf);
}

html, body {
  overflow-y: hidden;
  margin: 0;
}

#app {
  font-family: "Cartograph Sans";
  margin: 0 auto;
}

.logo-text {
  font-family: "Cartograph Sans Medium";
  font-size: 24px;
  color: #03007A;
  text-transform: uppercase;
}

.body {
  position: relative;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  align-items: center;
}

.fullpage-container {
  width: 100%;
  height: 100vh;
}

.page-1 {
  background: #f2f2f2;
  color: black;
}

.page-2 {
  background: #0200FF;
  color: #eee;
}

.page-3 {
  background: #00ccff;
}

.page-4 {
  background: #ff4301;
  color: #eee;
}

.page-2 .title {
  color: white;
}

.page-3 .title {
  color:#01008E;
}

.page-4 .title {
  color:black;
}

.page-2 .desk {
  color: #63f2ff;
  font-family: "Cartograph Sans Thin";
}

.page-3 .desk {
  color: #CFF9FF;
  line-height: 2;
  font-family: "Cartograph Sans Thin";
}

.page-4 .desk {
  color: #CFF9FF;
  line-height: 2;
  font-family: "Cartograph Sans Thin";
}

.page-2 .action {
  color: white;
}

.page-3 .action {
  color: #01008E;
}

.page-4 .action {
  color: white;
}

.page-2 .email {
  color: rgb(255, 217, 0);
  font-family: "Cartograph Sans Thin";
}

.page-3 .email {
  color: #87D985;
  font-family: "Cartograph Sans Thin";
}

.page-4 .email {
  color: rgb(255, 217, 0);
  font-family: "Cartograph Sans Thin";
}