$screen-sm-min: 1px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1012px;
$screen-xxl-min: 1440px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
      @content;
  }
}



.tech-block {
  @include sm {
    display: none;
  }
  @include xxl {
    display: block;
  }
}

.scroll-downs {
  @include sm {
    display: none;
  }
  @include xxl {
    display: block;
  }
}

.page {
  align-items: top;
  text-align: left;
  font-size: 26px;

  @include sm {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    padding: 50px 21px;
  }

  @include md {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-left: 40px;
  }

  @include xl {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-left: 40px;
  }

  @include xxl {
    display: block;
    padding-top: 100px;
    padding-left: 260px;
  }

  div {
    @include sm {
      // align-self: normal;
      align-self: top;
      align-items: top;
      justify-self: top;
    }
    @include xl {
      align-self: center;
      align-items: center;
      justify-self: center;
    }
  }
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  @include sm {
    line-height: 1.5;
    font-size: 27px;
  }
  @include md {
    font-size: 34px;
  }
  @include lg {
    line-height: 1.2;
    font-size: 45px;
  }
  @include xl {
    font-size: 60px;
  }
  @include xxl {
    font-size: 72px;
  }
}

.header {
  @include sm {
    padding: 20px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    align-items: center;
  }

  @include md {
    padding: 30px 70px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 9fr;
    align-items: center;
  }
  
  div {
    @include sm {
      align-self: left;
      align-items: left;
      justify-self: left;
    }
  }
}

.desk-mobile {
  line-height: 1.7;
  font-family: "Cartograph Sans Medium";
  @include sm {
    font-size: 14px;
    padding-top: 24px;
    display: block;
  }
  @include md {
    font-size: 22px;
    padding-top: 54px;
    display: none;
  }
}

.desk {
  line-height: 1.7;
  font-family: "Cartograph Sans Medium";
  @include sm {
    font-size: 14px;
    padding-top: 24px;
    display: none;
  }
  @include md {
    font-size: 22px;
    padding-top: 54px;
    display: block;
  }
}

.page1 {
  div {
    .desk-mobile {
      @include sm {
        color: black;
      }
      @include lg {
        color: #0000FF;
      }
    }
  } 
}

.action {
  font-family: "Cartograph Sans Heavy";
  text-transform: uppercase;
  color: black;
  @include sm {
    font-size: 14px;
    padding-top: 50px;
  }
  @include md {
    font-size: 20px;
    padding-top: 108px;
  }
}

.email {
  color: #0000FF;
  padding-top: 10px;
  @include sm {
    font-size: 14px;
  }
  @include md {
    font-size: 22px;
  }
}

.logo {
  @include sm {
    width: 130px;
    margin-left: -10px;
  }
  @include md {
    width: 180px;
  }
}

.logo-title {
  @include sm {
    font-size: 27px;
  }
}

.view-mobile {
  @include sm {
    display: block;
  }

  @include xxl {
    display: none;
  }
}

.view-pc {
  @include sm {
    display: none;
  }
  
  @include xxl {
    display: block;
  }
}

.tech-page {
  text-transform: uppercase;
  line-height: 1.3;
  .tech-black {
    color: white;
    font-family: "Cartograph Sans Thin";
  }
  .tech-orange {
    color: #FF3800;
    font-family: "Cartograph Sans Thin";
  }
  .tech-blue {
    color: white;
    font-family: "Cartograph Sans Thin";
  }
}

.page-0 {
  background: #292929;
  @include sm {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    padding: 10px 21px;
  }
}